---
import Layout from '../layouts/Layout.astro';
import Product from '../components/Product.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
---

<style>
	.num-span{display:block;font-size:5rem;font-weight:900;color:#f97316!important}
</style>
<Layout title="Allumel">
	<Header />
	<main>
		<section class="section pt-16 bg-white">
			<div class="text-white md:p-10 p-5 bg-orange-500" style="margin:0 auto;">
				<h1 class="text-center text-5xl my-5 font-bold" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);">Bienvenidos a Allumel</h1>
			</div>
			<div class="container py-16" style="margin:0 auto;max-width:100%;">
				<div class="grid gap-[1rem] md:grid-cols-12 grid-cols-1"> <!-- Aquí cambiamos a grid-cols-1 en lugar de grid-cols-2 para mejorar en móviles -->
					<div class="md:col-span-4 col-span-12 mx-auto p-5">
						<img src="/img/logo-alumell-nosotros.svg" alt="Logo Alumell" class="w-[25rem] h-auto max-w-full"> <!-- Cambié w-[20rem] a h-auto y añadí max-w-full -->
					</div>
					<div class="md:col-span-8 col-span-12 text-center md:text-left">
						<p class="text-lg md:px-0 px-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta fugiat, sapiente illum aliquid quasi eaque culpa. Blanditiis fugit labore nemo iusto deserunt, tenetur eaque alias, soluta neque, odio adipisci voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatem! Facere hic suscipit porro non inventore recusandae odio totam, quia cum voluptatem nesciunt iusto, nostrum nobis, accusantium ut deleniti fuga! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						<div id="counter_one" class="numeros my-5">
							<div class="grid md:grid-cols-3 grid-cols-1 text-center gap-5"> <!-- Añadí gap-5 para dar espacio en dispositivos móviles -->
								<p><strong class="num-span text-5xl" id="counter1" data-signo="" data-num="30"></strong> <strong class="text-xl">Años de experiencia</strong></p>
								<p><strong class="num-span text-5xl" id="counter2" data-signo="" data-num="200"></strong> <strong class="text-xl">M2 de Aluminio creados</strong></p>
								<p><strong class="num-span text-5xl" id="counter3" data-signo="" data-num="8"></strong> <strong class="text-xl">Proyectos terminados</strong></p>
							</div>
						</div>
						<div class="flex sm:flex-row flex-col text-center p-2 gap-2 justify-center my-3"> <!-- Reduje el padding y gap -->
							<a href="" class="no-underline text-lg font-bold bg-[#ff6600] text-white p-2 rounded-md flex gap-4 w-full md:w-fit mx-auto">
								<img src="/img/ico-telefono.svg" alt="LOGO ALUMELL" width="24" height="24"> 
								Llamar a telefono
							</a>
							<a href="" class="no-underline text-lg font-bold bg-[#ff6600] text-white p-2 rounded-md flex gap-4 w-full md:w-fit mx-auto">
								<img src="/img/ico-whatsapp.svg" alt="LOGO ALUMELL" width="24" height="24"> 
								Whatsapp
							</a>
						</div>
					</div>
				</div>
			</div>						
		</section>
		<section class="section py-10 px-5 bg-[#dedede]">
			<h2 class="text-center text-4xl my-10 font-bold text-gray-800">Catálogo</h2>
			<!-- Sección de Aluminio -->
			<div class="mx-auto mb-12 bg-[#afaba8] p-8 rounded-lg">
				<div class="grid grid-cols-1 lg:grid-cols-12 md:gap-[1rem] gap-0 ">
					<!-- Columna de Título y Descripción -->
					<div class="col-span-4 flex flex-col justify-center text-center lg:text-left p-3 mb-[1rem]">
						<h3 class="text-3xl font-bold text-[#252525] mb-4">Aluminio</h3>
						<p class="mb-6 text-lg text-[#252525]">Descubre nuestra variedad de productos de aluminio, diseñados para brindarte resistencia y durabilidad.</p>
						<a href="" class="bg-orange-500 hover:bg-orange-600 text-white px-6 py-3 rounded-lg text-xl transition duration-300 inline-block">
							Ver catálogo completo
						</a>
					</div>
					<!-- Columna de Productos -->
					<div class="col-span-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">
						<Product img="image-not-found.png" title="Producto 1" body="Descripción del Producto 1" />
						<Product img="image-not-found.png" title="Producto 2" body="Descripción del Producto 2" />
						<Product img="image-not-found.png" title="Producto 3" body="Descripción del Producto 3" />
						<Product img="image-not-found.png" title="Producto 4" body="Descripción del Producto 4" />
					</div>
				</div>
			</div>
			
			<!-- Sección de Accesorios -->
			<div class="mx-auto mb-12 bg-[#252525] p-8 rounded-lg text-white">
				<div class="grid grid-cols-1 lg:grid-cols-12 md:gap-[1rem] gap-0 ">
					<!-- Columna de Productos -->
					<div class="col-span-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">
						<Product img="image-not-found.png" title="Accesorio 1" body="Descripción del Accesorio 1" />
						<Product img="image-not-found.png" title="Accesorio 2" body="Descripción del Accesorio 2" />
						<Product img="image-not-found.png" title="Accesorio 3" body="Descripción del Accesorio 3" />
						<Product img="image-not-found.png" title="Accesorio 4" body="Descripción del Accesorio 4" />
					</div>
					<!-- Columna de Título y Descripción -->
					<div class="col-span-4 flex flex-col justify-center text-center lg:text-left p-3 mt-[1rem]">
						<h3 class="text-3xl font-bold text-[#ff6600] mb-4">Accesorios</h3>
						<p class="mb-6 text-lg">Ofrecemos accesorios que complementan a la perfección nuestros productos, garantizando calidad y durabilidad.</p>
						<a href="" class="bg-[#ff6600] hover:bg-orange-600 text-white px-6 py-3 rounded-lg text-xl transition duration-300 inline-block">
							Ver catálogo completo
						</a>
					</div>
				</div>
			</div>
		
			<!-- Sección de Silicona -->
			<div class="mx-auto bg-[#ff6600] p-8 rounded-lg">
				<div class="grid grid-cols-1 md:grid-cols-12 md:gap-[1rem] gap-0 ">
					<!-- Columna de Título y Descripción -->
					<div class="col-span-4 flex flex-col justify-center text-center lg:text-left p-3 mb-[1rem]">
						<h3 class="text-3xl font-bold text-white mb-4">Silicona</h3>
						<p class="mb-6 text-lg text-white">Nuestros productos de silicona ofrecen máxima resistencia y durabilidad en diversas aplicaciones.</p>
						<a href="" class="bg-[#252525] hover:bg-black text-white px-6 py-3 rounded-lg text-xl transition duration-300 inline-block">
							Ver catálogo completo
						</a>
					</div>
					<!-- Columna de Productos -->
					<div class="col-span-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">
						<Product img="image-not-found.png" title="Silicona 1" body="Descripción de la Silicona 1" />
						<Product img="image-not-found.png" title="Silicona 2" body="Descripción de la Silicona 2" />
						<Product img="image-not-found.png" title="Silicona 3" body="Descripción de la Silicona 3" />
						<Product img="image-not-found.png" title="Silicona 4" body="Descripción de la Silicona 4" />
					</div>
				</div>
			</div>
		</section>
		<section class="section p-10 bg-white"> 
			<div class="container" style="margin:0 auto">
				<div class="grid md:grid-cols-2 grid-cols-1 gap-10">
					<div class="flex flex-col md:text-left text-center">
						<h2 class="text-4xl mb-5 font-bold">Acerca de Nosotros</h2>
						<p class="text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta fugiat, sapiente illum aliquid quasi eaque culpa. Blanditiis fugit labore nemo iusto deserunt, tenetur eaque alias, soluta neque, odio adipisci voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatem! Facere hic suscipit porro non inventore recusandae odio totam, quia cum voluptatem nesciunt iusto, nostrum nobis, accusantium ut deleniti fuga! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
						<div class="text-center mt-10">
							<a href="/nosotros" class="text-white bg-orange-500 p-3 rounded text-xl w-full md:w-fit">Ver más</a>
						</div>
					</div>
					<div>
						<img src="/img/imagen-nosotros.webp" alt="Nuestra  empresa"> 
					</div>
				</div>
			</div>
		</section>
	</main>
	<script is:inline src="/lib/contador/contador.min.js" ></script>
	<Footer />
</Layout>
