<div class="relative bg-white">
  <header class="fixed top-0 left-0 right-0 z-20 bg-white shadow-md">
    <nav class="flex flex-row justify-between items-center">
      <div class="p-3 z-20">
        <a href="/"><img src="/img/logo-alumell.svg" alt="LOGO ALUMELL" width="178" height="35"></a>
      </div>
      <div id="navLinks" class="md:shadow-none shadow-md nav-links md:static absolute bg-white md:min-h-fit min-h-[35vh] left-0 md:top-0 top-0 w-full flex items-center md:w-auto md:flex-row md:ml-auto transform -translate-y-full md:translate-y-0 transition-transform duration-500 ease-in-out opacity-0 md:opacity-100 z-10">
        <ul class="flex md:flex-row flex-col md:items-center items-center justify-center gap-6 w-full mt-10 sm:mt-0" style="list-style: none">
          <li class="block px-4">
            <a href="/catalogo" class="font-bold text-xl hover:text-white hover:bg-orange-500 p-2 rounded transition duration-300 ease-in-out" style="text-decoration: none">
              Catalogo
            </a>
          </li>
          <li class="block px-4">
            <a href="/portfolio" class="font-bold text-xl hover:text-white hover:bg-orange-500 p-2 rounded transition duration-300 ease-in-out" style="text-decoration: none">
              Portfolio
            </a>
          </li>
          <li class="block px-4">
            <a href="/nosotros" class="font-bold text-xl hover:text-white hover:bg-orange-500 p-2 rounded transition duration-300 ease-in-out" style="text-decoration: none">
              Nosotros
            </a>
          </li>
          <li class="block px-4">
            <a href="/contacto" class="font-bold text-xl hover:text-white hover:bg-orange-500 p-2 rounded transition duration-300 ease-in-out" style="text-decoration: none">
              Contacto
            </a>
          </li>
        </ul>
      </div>
      <div class="flex items-center gap-6 z-20 me-2">
        <ion-icon id="menuIcon" name="menu-outline" class="text-3xl cursor-pointer md:hidden"></ion-icon>
      </div>
    </nav>
  </header>
</div>

<script src="../header/Header.js"></script>
